@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 90rem;
    margin: 0 auto;
    padding: 1.5rem;
}

@layer components{
    .header{
    @apply  fixed w-full shadow-lg bg-white bg-blend-overlay border-b-4
    }
    .header .header__wrapper{
    @apply max-w-[90rem] mx-auto flex items-center justify-between lg:p-[]
    }
    .header .branding{
    @apply flex items-center gap-[1rem]
    }
    .header .header__nav{
    @apply  absolute shadow-xl h-[100vh] bg-white font-bold top-[8.2rem] right-[-25rem] text-[1rem] transition-all
    lg:static lg:h-auto lg:w-full lg:shadow-none lg:font-bold   
    }
    .header .header__nav .nav__left{
    @apply flex flex-col lg:flex-row
    }
    .header .header__nav .nav__left{
    @apply border-b-[1px] border-b-gray-400 lg:border-none
    }
    .header .header__nav .nav__right{
    @apply lg:hidden 
    }
    .header .header__nav li{
    @apply m-[3rem] items-center
    }
    .header .header__nav.open{
    @apply absolute right-[.1rem]
    }
    .header .header__three{
    @apply hidden lg:flex lg:items-center lg:gap-[1.5rem] lg:text-[1rem] lg:font-bold
    }
    .toggle__menu{
    @apply flex flex-col gap-[.2rem] 
    }
    .toggle__menu span{
    @apply  w-[2rem] h-[.3rem] bg-black block rounded-full 
    }

    .buhok.open{
        @apply h-[100vh] w-[100%] bg-black absolute z-[999] top-[5.6rem] left-[0] opacity-[.5] transition-all
    }


    .kalbo{
        @apply bg-white
    }
    .kalbo__wrapper{
       @apply bg-gray-600 py-[2rem]
    }
    .kalbo__nav{
        @apply  max-w-[25rem] flex flex-wrap gap-[2rem] mx-auto justify-center
    }
    .kalbo__nav li{
        @apply p-[.5rem] rounded-md text-white
    }
    .kalbo__nav li.active{
        @apply bg-blue-500
    }
    .kalbo__desc__wrapper{
       @apply bg-gray-300 p-[2rem]
    }
    .kalbo__item__content{
        @apply hidden
    }
    .kalbo__item__content img{
        @apply w-[10rem] h-auto rounded-full bg-green-800 px-[1rem]
    }
    .kalbo__item__content.active{
        @apply flex gap-[2rem] items-center justify-center
    }
    .kalbo__text h2{
        @apply text-[1.5rem] font-bold mb-[1rem]
    }
    .kalbo__text table tr{
        @apply h-[5rem] flex flex-col
    }
    .kalbo__text table tr td:first-child{
        @apply font-semibold
    }

    .btn{
        background-color: transparent;
        padding: .2rem 1rem;
        border-radius: 3rem;
        border:1px solid #2b2b2b;
    }
    .btn.bg--green{
        background:#1E3932;
        color:#ffffff;
        border:1px solid #ffffff;
    }
    .btn.bg--green:hover {
        background-color: #006341;
    }

    .beverage{
        @apply bg-white
    }
    .beverage__wrapper{
        @apply py-[2rem]
    }
    .beverage__nav{
        @apply bg-fwhite-light shadow-lg flex flex-wrap justify-center max-w-[40rem] mx-auto gap-[2rem]
    }

    /*BANNER*/
    .banner{
        background-image: url("../img/img/rewards/star.png");
        background-size:cover;
        background-color:#D0EAE4;
        height:550px;
        background-position-y:15rem;
        background-repeat:no-repeat;
        @media screen and (min-width:1024px){
            background-position-y:5rem;
            background-size:contain;
            background-position-x:70rem;
            height:800px;
            display:flex;
            align-items: center;
        }
    
    }

    .start{
        @apply  bg-white 
    }

    .start__wrapper intro{
        @apply flex flex-wrap
    } 
}