@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: Borel;
    src: url("../fonts/Borel-Regular.woff");
}


.container{
    max-width: 90rem;
    margin: 0 auto;
    padding: 1.5rem;
}

@layer components{

    /* HEADERS */
    .header{
    @apply  fixed w-full shadow-lg bg-white bg-blend-overlay border-b-4
    }
    .header .header__wrapper{
    @apply max-w-[90rem] mx-auto flex items-center justify-between
    }
    .header .branding{
    @apply flex items-center gap-[1rem]
    }
    .header .header__nav{
    @apply  absolute shadow-xl h-[100vh] bg-white font-bold top-[6.2rem] right-[-20rem] text-[1rem] transition-all
    lg:static lg:h-auto lg:w-full lg:shadow-none lg:font-bold   
    }
    .header .header__nav .nav__left{
    @apply flex flex-col lg:flex-row
    }
    .header .header__nav .nav__left{
    @apply border-b-[1px] border-b-gray-400 lg:border-none
    }
    .header .header__nav .nav__right{
    @apply lg:hidden 
    }
    .header .header__nav li{
    @apply m-[3rem] items-center
    }
    .header .header__nav.open{
    @apply absolute right-[0rem]
    }
    .header .header__three{
    @apply hidden lg:flex lg:items-center lg:gap-[1.5rem] lg:text-[1rem] lg:font-bold
    }
    .toggle__menu{
    @apply flex flex-col gap-[.2rem] 
    }
    .toggle__menu span{
    @apply  w-[2rem] h-[.3rem] bg-black block rounded-full 
    }
    .buhok.open{
        @apply h-[100vh] w-[100%] bg-black absolute z-[999] top-[5.6rem] left-[0] opacity-[.5] transition-all
    }


    /* KALBO */
    .kalbo{
        @apply bg-white
    }
    .kalbo__wrapper{
       @apply bg-gray-600 py-[2rem]
    }
    .kalbo__nav{
        @apply  max-w-[25rem] flex flex-wrap gap-[2rem] mx-auto justify-center
    }
    .kalbo__nav li{
        @apply p-[.5rem] rounded-md text-white
    }
    .kalbo__nav li.active{
        @apply bg-blue-500
    }
    .kalbo__desc__wrapper{
       @apply bg-gray-300 p-[2rem]
    }
    .kalbo__item__content{
        @apply hidden
    }
    .kalbo__item__content img{
        @apply w-[10rem] h-auto rounded-full bg-green-800 px-[1rem]
    }
    .kalbo__item__content.active{
        @apply flex gap-[2rem] items-center justify-center
    }
    .kalbo__text h2{
        @apply text-[1.5rem] font-bold mb-[1rem]
    }
    .kalbo__text table tr{
        @apply h-[5rem] flex flex-col
    }
    .kalbo__text table tr td:first-child{
        @apply font-semibold
    }

    /* REPEATABLE PATTERNS */
    .btn{
        background-color: transparent;
        padding: .2rem 1rem;
        border-radius: 3rem;
        border:1px solid #2b2b2b;
    }
    .btn.bg--green{
        background:#1E3932;
        color:#ffffff;
        border:1px solid #ffffff;
    }
    .btn.bg--green:hover {
        background-color: #006341;
    }

    /* BEVERAGE */
    .beverage{
        @apply bg-white
    }
    .beverage__wrapper{
        @apply py-[2rem]
    }
    .beverage__nav{
        @apply bg-fwhite-light shadow-lg flex flex-wrap justify-center max-w-[40rem] mx-auto gap-[2rem]
    }

    /*CIRCLE*/
    .circle{
        @apply border border-black rounded-full m-[2rem] px-[2rem] py-[0.9rem] text-[2rem]
     }

    /* GETTING STARTED */
    .start{
        @apply  bg-white 
    }
    .intro{
        @apply text-center pb-[1rem]
    } 
    .intro h4{
        @apply text-[2rem]
    }
    .steps__number h2{
        @apply flex border border-black text-center rounded-full m-[2rem] px-[1.85rem] py-[0.9rem] text-[2rem]
    }
    .steps__number h3{
        @apply font-semibold pb-[1rem]
    }
    .steps__number a{
        @apply underline font-medium
    }
    .steps__number p{
        @apply font-[10rem]
    }
    .steps__number .step__one{
        @apply  flex items-center
    }
    .steps__number .step__two{
        @apply  flex items-center
    }
    .steps__number .step__three{
        @apply  flex items-center
    }

    /* EARN__PAGE */

    
    /* EXTRAS___PAGE */
    .extras{
        @apply bg-white
    }
    .intro__extras{
       @apply text-center
    }
    .intro__extras h4{
        @apply text-[2rem]
    }
    .extras__number{
        @apply py-[2rem] 
    }
    .extras__number img{
        @apply h-[7rem] 
    }
    .extras__number h2{
        @apply font-semibold
    }
    .extras__number a{
        @apply underline font-semibold
    }
    .extras__number .extras__one{
        @apply flex items-center gap-[2rem] pb-[1rem]
    }
    .extras__one .desc__ext p,h2{
        @apply pb-[1rem]
    }
    .extras__number .extras__two{
        @apply flex items-center gap-[2rem] pb-[1rem]
    }
    .extras__two .desc__ext p,h2{
        @apply pb-[1rem]
    }
    .extras__number .extras__three{
        @apply flex items-center gap-[2rem] pb-[1rem]
    }
    .extras__three .desc__ext p,h2{
        @apply pb-[1rem]
    }

    .questions{
        @apply bg-white
    }
    .questions h2{
        @apply font-semibold text-[1.5rem] 
    }
    .questions p{
        @apply text-[.9rem]
    }
    .questions a{
        @apply underline font-semibold
    }

    /* CASH--CARD */
   .earn{
    @apply bg-cream
   }
   .earn__intro{
    @apply text-center
   }
   .earn__intro h2{
    @apply font-semibold text-[1.5rem]
   }
   .earn__intro p{
    @apply text-[.9rem] pb-[3rem]
   }
   .rewards__one{
    @apply items-center
   }
   .rewards__one__text h2{
    @apply font-semibold text-[1.5rem] pb-0
   }
   .rewards__one__text p{
    @apply text-[.9rem] 
   }
   
   .rewards__desc{
    @apply flex gap-[2rem] 
   }
   .rewards__desc img{
    @apply h-[9.5rem] 
   }

    /*BANNER*/
    .banner{
        background-image: url("../img/img/rewards/star.png");
        background-size:cover;
        background-color:#D0EAE4;
        height:550px;
        background-position-y:15rem;
        background-repeat:no-repeat;
        @media screen and (min-width:1024px){
            background-position-y:5rem;
            background-size:contain;
            background-position-x:70rem;
            height:800px;
            display:flex;
            align-items: center;
        }
    
    }

    

    
}